<div class="preamble"><p>This is the home page. <a href="01-introduction.html"><%= refs["01-introduction"]["doctitle"] %></a> is more interesting
since it has <a href="01-introduction.html#thm-intro"><%= refs["01-introduction"]["thm-intro"] %></a></p>
</div>
<section id="welcome-section" class="section">
<h3>A Section</h3>
<p>This is a paragraph.</p>

</section> <!-- #welcome-section.section -->
