.title-mark {
    margin-right: 1.5ex;
}

.title-prefix {
    margin-right: 1ex;
    &::after {
        content: ':';
    }
}

.example {
    padding-left: 1rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border-left: .25rem solid var(--example-color, #{$gray-500});
    *:last-child {
        margin-bottom: 0;
    }
    .block-title {
        color: var(--example-color, #{$headings-color});
        
    }
}

.example-theorem {
    --example-color: #{$indigo};
}

@include color-mode(dark) {
    .example-theorem {
        --example-color: #{tint-color($indigo, 60%)};
    }
}
