main { margin: 1rem auto; }

$content-padding-x: 0.75rem;
$content-padding-y: 0.5rem;

.content-container {
    max-width: 100ch;
    padding-left: $content-padding-x;
    padding-right: $content-padding-x;
}

.title-mark {
    margin-right: 1.5ex;
}

.title-prefix {
    margin-right: 1ex;
    &::after {
        content: ':';
    }
}

.block-title {
    margin-bottom: 0.25rem;
}
