$content-padding-x: 0.75rem;
$content-padding-y: 0.5rem;
$content-width: 80rch;

main {
    margin: $spacer auto;
}

.full-width-bg {
    padding-left: $content-padding-x;
    padding-right: $content-padding-x;
    margin-left: -$content-padding-x;
    margin-right: -$content-padding-x;
}

.content-container {
    box-sizing: content-box;
    max-width: $content-width;
    padding-left: $content-padding-x;
    padding-right: $content-padding-x;
}

.title-mark {
    margin-right: 1.5ex;
}

.title-prefix {
    margin-right: 1ex;
    &::after {
        content: ':';
    }
}

.block-title {
    margin-bottom: 0.25rem;
}
