.figbox {
    margin: 1.5rem -#{$content-padding-x};
}
figure {
    text-align: center;
    img {
        @extend .figure-img;
        @extend .img-fluid;
        max-height: 400px;
    }
    figcaption {
        padding-left: $content-padding-x;
        padding-right: $content-padding-x;
        text-align: center;
        @extend .figure-caption;
    }
}
