.olist {
    @extend .list-unstyled;
    li {
        display: flex;
        flex-flow: row nowrap;
        gap: 1ex;
        align-items: first baseline;
        .li-mark {
            flex: 0 0 3.5ex;
            text-align: right;
        }
        .li-content {
            p { margin-bottom: 0.25rem; }
        }
    }
    &.arabic, &.lowerroman {
        > li > .li-mark::after {
            content: '.';
        }
    }
    &.loweralpha, &.upperalpha {
        > li > .li-mark {
            &::before { content: '(' }
            &::after { content: ')' }
        }
    }
    &.pseudocode {
        $pcode-indent: 28px;
        $pcode-initial-gap: 18px;
        $pcode-mark-width: 26px;
        > li {
            gap: $pcode-initial-gap;
            > .li-mark {
                flex: 0 0 $pcode-mark-width;
            }
        }
        @for $i from 1 through 3 {
            &.level-#{$i + 1} {
                margin-left: -($i - 1)*$pcode-indent - $pcode-initial-gap - $pcode-mark-width;
                > li {
                    gap: $i*$pcode-indent + $pcode-initial-gap;
                }
            }
        }
        .li-mark {
            font-size: 90%;
            color: var(--bs-tertiary-color)
        }
    }
}
