.arabic, .lowerroman {
    > li {
        > .li-mark, > figure .li-mark {
            &::after { content: '.'; }
        }
    }
}
.loweralpha, .upperalpha {
    > li {
        > .li-mark, > figure .li-mark {
            &::before { content: '('; }
            &::after { content: ')'; }
        }
    }
}

.list-wrapper {
    margin-bottom: $spacer;
    ol, ul {
        margin-bottom: 0;
    }
}

.olist {
    @extend .list-unstyled;
    li {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;
        align-items: first baseline;
        .li-mark {
            flex: 0 0 1.5rem;
            text-align: right;
        }
        .li-content {
            flex: 1;
            p { margin-bottom: 0.25rem; }
        }
    }
    &.pseudocode {
        @mixin pcode-style($initial-gap, $indent) {
            $mark-width: 1.25rem;
            > li {
                gap: $initial-gap;
                > .li-mark {
                    flex: 0 0 $mark-width;
                }
            }
            @for $i from 1 through 3 {
                &.level-#{$i + 1} {
                    margin-left: -($i - 1)*$indent - $initial-gap - $mark-width;
                    > li {
                        gap: $i*$indent + $initial-gap;
                    }
                }
            }
        }

        @include pcode-style($initial-gap: 0.75rem, $indent: 1.5rem);

        @include media-breakpoint-up(sm) {
            @include pcode-style($initial-gap: 0.75rem, $indent: 1.75rem);
        }

        @include media-breakpoint-up(md) {
            @include pcode-style($initial-gap: 1rem, $indent: 2rem);
        }

        .li-mark {
            font-size: 90%;
            color: var(--bs-tertiary-color);
        }
    }
}

.figlist-wrapper {
    @extend .figbox;
    .figlist {
        margin-bottom: 0;
        @extend .list-unstyled;
        display: flex;
        flex-flow: row wrap;
        gap: 0.75rem;
        justify-content: space-evenly;
        align-items: last baseline;
        li {
            flex: 1;
            .li-mark {
                margin-right: 1ex;
            }
            figure {
                margin-bottom: 0.25rem;
                img {
                    min-width: 300px;
                }
            }
        }
    }
    .block-title {
        padding-left: $content-padding-x;
        padding-right: $content-padding-x;
        text-align: center;
        @extend .figure-caption;
    }
}
