.admonition {
    $icon-size: 2*$content-padding-x;
    position: relative;
    @extend .block;
    @extend .full-width-bg;
    background-color: var(--admonition-bg, var(--bs-info-bg-subtle));
    color: var(--admonition-text, var(--bs-info-text-emphasis));
    padding-top: calc(var(--parsep) + #{0.25*$icon-size});
    margin-top: calc(#{$spacer} + #{0.5*$icon-size});
    border-bottom: 1px solid transparent;
    .icon {
        position: absolute;
        top: -#{0.5*$icon-size};
        left: #{0.5*$icon-size};
        width: $icon-size;
        height: $icon-size;
        border-radius: 0.5*$icon-size;
        text-align: center;
        line-height: $icon-size;
    }
}

.admonition-note .icon {
    font-size: 65%;
}

.admonition-note, .admonition-tip {
    .icon {
        @extend .text-bg-info;
    }
}

.admonition-important, .admonition-caution {
    --admonition-text: var(--bs-warning-text-emphasis);
    --admonition-bg: var(--bs-warning-bg-subtle);
    .icon {
        @extend .text-bg-warning;
    }
}

.admonition-warning {
    --admonition-text: var(--bs-danger-text-emphasis);
    --admonition-bg: var(--bs-danger-bg-subtle);
    .icon {
        @extend .text-bg-danger;
    }
}
