$content-padding-x: 12px;
$content-width: map-get($container-max-widths, md) - 2*$content-padding-x;
$listing-blue: #002451;
$listing-colist-gap: 0.375rem;

:root {
    --unit-100vh: 100vh;
    --parsep: #{$spacer};
    --paritemsep: 0px;
    --blocksep: #{$spacer};
    --fw-padding: #{$content-padding-x};
    --fw-margin: -#{$content-padding-x};
    --header-bg-rgb: 32, 33, 36;
    --header-bg: rgb(var(--header-bg-rgb));
    --strong-text-color: var(--bs-emphasis-color);
    @supports (height: 100dvh) {
        --unit-100vh: 100dvh;
    }
    @media print {
        --bs-link-color-rgb: var(--bs-body-color-rgb);
        a {
            text-decoration: none;
        }
        .btn {
            display: none;
        }
    }
}

.full-width-bg {
    padding-left: var(--fw-padding);
    padding-right: var(--fw-padding);
    margin-left: var(--fw-margin);
    margin-right: var(--fw-margin);
    &:not(.example-listing) * {
        --fw-margin: 0px;
    }
}

.hidden {
    display: none !important;
}

.text-sc {
    font-variant-caps: small-caps;
}

.text-muted {
    color: rgba(var(--bs-body-color-rgb), 0.5);
}

abbr[data-bs-original-title] {
    @extend abbr, [title];
}

.parskip {
    vertical-align: text-top;
    display: inline-block;
    height: calc(var(--parsep) + var(--bs-body-font-size));
}

.bibref {
    text-wrap: nowrap;
}

.btn-po {
    text-decoration: none;
}

.title-mark {
    display: inline-block;
    margin-right: 1.2ex;
}

.title-prefix {
    margin-right: 0.85ex;
    &::after {
        content: ':';
    }
}

.title-suffix {
    margin-left: 0.85ex;
    font-weight: normal;
    &::before { content: '('; }
    &::after { content: ')'; }
}

.attribution + cite::before {
    content: ', ';
}

.block {
    --parsep: 0.5rem;
    .block {
        --blocksep: var(--parsep);
    }
    margin-bottom: var(--blocksep);
    > .block-title, > summary {
        &:first-child {
            margin-bottom: calc(0.5 * var(--parsep));
        }
    }
}

.block-title {
    margin-bottom: 0.25rem;
    color: var(--strong-text-color);
}

.paragraph .block-title {
    margin-bottom: 0;
}

.chapheading {
    @extend .display-6;
}

.chaptitle {
    margin-bottom: 1.25*$spacer;
}

p, .stem {
    margin-bottom: var(--parsep);
}

ol, ul, dl {
    margin-bottom: calc(var(--parsep) - var(--paritemsep));
    p, .stem { 
        margin-bottom: var(--paritemsep);
    }
    p:has(+ .stem), .stem:has(+ p), p:has(+ .list), p:has(+ .list-wrapper) {
        margin-bottom: calc(0.5 * var(--paritemsep));
    }
}

summary, h6 {
    font-weight: 500;
}

strong, th {
    font-weight: 600 !important;
}

strong {
    color: var(--strong-text-color);
}
