$content-padding-x: 12px;
$content-width: map-get($container-max-widths, md) - 2*$content-padding-x;
$listing-blue: #002451;

:root {
    --parsep: #{$spacer};
    --paritemsep: #{0.125*$spacer};
    --blocksep: #{$spacer};
    --fw-padding: #{$content-padding-x};
    --fw-margin: -#{$content-padding-x};
    --header-bg: #{shade-color($blue, 60%)};
}

.full-width-bg {
    padding-left: var(--fw-padding);
    padding-right: var(--fw-padding);
    margin-left: var(--fw-margin);
    margin-right: var(--fw-margin);
    &:not(.example-listing) * {
        --fw-margin: 0;
    }
}

.hidden {
    display: none !important;
}

.title-mark {
    display: inline-block;
    width: 2.2ex;
}

.title-prefix {
    margin-right: 0.85ex;
    &::after {
        content: ':';
    }
}

.attribution + cite::before {
    content: ', ';
}

.block {
    --parsep: 0.5rem;
    .block {
        --blocksep: var(--parsep);
    }
    margin-bottom: var(--blocksep);
    > .block-title, > summary {
        &:first-child {
            margin-bottom: calc(0.5 * var(--parsep));
        }
    }
}

.block-title {
    margin-bottom: 0.25rem;
}

.paragraph .block-title {
    margin-bottom: 0;
}

p {
    margin-bottom: var(--parsep);
}

ol, ul, dl {
    margin-bottom: calc(var(--parsep) - var(--paritemsep));
    p { margin-bottom: var(--paritemsep); }
}

summary {
    font-weight: 500;
}
