$content-padding-x: 12px;
$content-width: map-get($container-max-widths, md) - 2*$content-padding-x;
$listing-blue: #002451;

:root {
    --parsep: #{$spacer};
    --paritemsep: #{0.25*$spacer};
}

.full-width-bg {
    padding-left: max($content-padding-x, calc(100% - 0.5*$content-width));
    padding-right: max($content-padding-x, calc(100% - 0.5*$content-width));
    margin-left: min(-#{$content-padding-x}, calc(0.5*$content-width - 100%));
    margin-right: min(-#{$content-padding-x}, calc(0.5*$content-width - 100%));

    @include media-breakpoint-up(md) {
        padding-left: $content-padding-x;
        padding-right: $content-padding-x;
        margin-left: -$content-padding-x;
        margin-right: -$content-padding-x;
    }
}

.title-mark {
    display: inline-block;
    width: 2.2ex;
}

.title-prefix {
    margin-right: 0.8ex;
    &::after {
        content: ':';
    }
}

.block-title {
    margin-bottom: 0.25rem;
}

p {
    margin-bottom: var(--parsep);
}

ol, ul, dl {
    margin-bottom: calc(var(--parsep) - var(--paritemsep));
    p { margin-bottom: var(--paritemsep); }
}
