.example {
    --parsep: 0.5rem;
    padding-top: var(--parsep);
    @extend .full-width-bg;
    margin-bottom: $spacer;
    border-top: 2px solid var(--example-border-color, var(--bs-secondary-border-subtle));
    border-bottom: 2px solid var(--example-border-color, var(--bs-secondary-border-subtle));
    background-color: var(--example-bg-color, var(--bs-secondary-bg-subtle));
    > .block-title:first-child {
        margin-bottom: var(--parsep);
    }
}

$thm-types: theorem, proposition, lemma, corollary;

@each $type in $thm-types {
    .example-#{$type} {
        --example-border-color: var(--bs-primary-border-subtle);
        --example-bg-color: var(--bs-primary-bg-subtle);
    }
}

.example-listing {
    --example-border-color: transparent;
    --example-bg-color: transparent;
    > .block-title:first-child {
        margin-bottom: 0.25rem;
    }
}

.example-algorithm {
    --example-border-color: #{tint-color($orange, 60%)};
    --example-bg-color: #{tint-color($orange, 80%)};
    @include color-mode(dark) {
        --example-border-color: #{shade-color($orange, 40%)};
        --example-bg-color: #{shade-color($orange, 80%)};
    }
}
