.example {
    $default-border-color: var(--bs-secondary-border-subtle);
    $default-bg-color: #f8f9fa;
    $default-text-color: var(--bs-body-color);
    --strong-text-color: var(--bs-emphasis-color);
    @include color-mode(dark) {
        --example-bg-color: #{shade-color($default-bg-color, 80%)};
    }
    @extend .block;
    @extend .full-width-bg;
    padding-top: var(--parsep);
    color: var(--example-text, #{$default-text-color});
    border-top: 2px solid var(--example-border-color, #{$default-border-color});
    border-bottom: 2px solid var(--example-border-color, #{$default-border-color});
    background-color: var(--example-bg-color, #{$default-bg-color});
}

$thm-types: theorem, proposition, lemma, corollary;

@each $type in $thm-types {
    .example-#{$type} {
        --example-text: var(--bs-primary-text-emphasis);
        --example-border-color: var(--bs-primary-border-subtle);
        --example-bg-color: var(--bs-primary-bg-subtle);
        --strong-text-color: #{$blue-900};
        @include color-mode(dark) {
            --strong-text-color: #{$blue-100};
            --example-text: #{$blue-200};
        }
    }
}

.example-listing {
    --example-border-color: transparent;
    --example-bg-color: #{$listing-blue};
    --example-text: #{$body-color-dark};
    --strong-text-color: #{$body-color-dark};
    > .block-title:first-child {
        margin-bottom: 0;
        padding-bottom: var(--parsep);
        border-bottom: 1px solid $gray-600;
        font-weight: normal;
    }
    > .listing {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.example-algorithm {
    --example-border-color: #{$orange-200};
    --example-bg-color: #{$orange-100};
    --example-text: #{shade-color($orange, 70%)};
    --strong-text-color: #{shade-color($orange, 90%)};
    @include color-mode(dark) {
        --example-text: #{$orange-300};
        --example-border-color: #{$orange-700};
        --example-bg-color: #{$orange-900};
        --strong-text-color: #{$orange-200};
    }
}
