.figbox {
    margin: 1.5rem var(--fw-margin);
}
figure {
    text-align: center;
    img {
        @extend .figure-img;
        @extend .img-fluid;
        max-height: 400px;
        vertical-align: text-top;
    }
    figcaption {
        padding-left: var(--fw-padding);
        padding-right: var(--fw-padding);
        text-align: center;
        @extend .figure-caption;
    }
}
