$header-height: 2.5rem;
$main-width: $content-width + 2*$content-padding-x;

html {
    scroll-padding-top: calc($header-height + $spacer);
}

.header {
    height: $header-height;
    background-color: var(--bs-dark);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 $content-padding-x;
    z-index: 2;
    box-shadow: 0 .5rem 1rem #00000026, inset 0 -1px #ffffff26;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 300;
    @include color-mode(dark) {
        border-bottom: 1px solid var(--bs-gray-600);
        background-color: var(--bs-black);
    }
    a.home {
        color: var(--bs-gray-200);
        text-decoration: none;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover, &:active {
            color: var(--bs-white);
        }
    }
    .btn.menu {
        --bs-btn-padding-x: 0;
        --bs-btn-padding-y: 0;
        --bs-btn-color: var(--bs-gray-200);
        --bs-btn-font-weight: 600;
        --bs-btn-font-size: 1.8rem;
        --bs-btn-line-height: 1;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-active-color: var(--bs-white);
        --bs-btn-active-border-color: transparent;
        .bi {
            display: inline-block;
            &::before {
                vertical-align: -0.075em;
            }
        }
    }
}

.sidebar {
    z-index: 3;
    position: fixed;
    top: $header-height;
    background-color: var(--bs-body-bg);
    bottom: 0;
    border-left: 1px solid var(--bs-dark-border-subtle);
    right: 0;
    overflow-y: auto;
    a, button { 
        text-wrap: nowrap;
    }
}

.main {
    margin-top: calc($header-height + $spacer);
    overflow-x: hidden;
    padding: 0 $content-padding-x;
    .content-container {
        max-width: $content-width;
        margin: 0 auto;
        .gsc-control-cse {
            padding: 0;
        }
    }
}

.section {
    margin-bottom: 2*$spacer;
}

@include media-breakpoint-up(lg) {
    .header .btn.menu {
        display: none;
    }
    .sidebar {
        &.collapse:not(.show) { display: block; }
        width: calc(100% - $main-width);
        a {
            text-wrap: wrap;
        }
    }
    .main {
        width: $main-width;
    }
}

@include media-breakpoint-up(xl) {
    .sidebar {
        width: 30%;
    }
    .main {
        width: 70%;
    }
}

.footnotes {
    display: none;
}

.footer {
    font-size: 90%;
    padding: $spacer 0;
}
