$header-height: 2.5rem;
$main-width: $content-width + 2*$content-padding-x;

.header {
    height: $header-height;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 $content-padding-x;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--header-bg);
    a.home {
        color: var(--bs-gray-200);
        text-decoration: none;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover, &:active {
            color: var(--bs-white);
        }
    }
    .btn.menu {
        --bs-btn-padding-x: 0;
        --bs-btn-padding-y: 0;
        --bs-btn-color: var(--bs-gray-200);
        --bs-btn-font-weight: 600;
        --bs-btn-font-size: 1.8rem;
        --bs-btn-line-height: 1;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-active-color: var(--bs-white);
        --bs-btn-active-border-color: transparent;
    }
}

.sidebar {
    display: none;
    z-index: 2;
    position: fixed;
    top: $header-height;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
    &.shown {
        display: block;
    }
}

.main {
    position: fixed;
    top: $header-height;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    border-top: 1px solid var(--header-bg);
    padding: $spacer $content-padding-x 0 $content-padding-x;
    scrollbar-color: var(--sidebar-thumb-color) var(--gutter-bg);
    scroll-padding-top: $spacer;
    scroll-behavior: smooth;
    .content-container {
        max-width: $content-width;
        margin: 0 auto;
        .gsc-control-cse {
            padding: 0;
        }
    }
}

.section {
    margin-bottom: 2*$spacer;
}

@include media-breakpoint-up(sm) {
    .sidebar {
        width: auto;
    }
}

@include media-breakpoint-up(lg) {
    .header .btn.menu {
        display: none;
    }
    .sidebar {
        display: block;
        width: calc(100% - $main-width);
        + .main {
            width: $main-width;
        }
    }
}

@include media-breakpoint-up(xl) {
    .sidebar {
        width: 30%;
        + .main {
            width: 70%;
        }
    }
}

@include color-mode(dark) {
    body{
        --header-bg: var(--bs-black);
    }
}

.footnotes {
    display: none;
}

.footer {
    font-size: 90%;
    padding: $spacer 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;
}
