$header-height: 3rem;
$main-width: $content-width + 2*$content-padding-x;
$presentation-content-width: 70ch;

html {
    height: var(--unit-100vh);
    body {
        height: 100%;
        > .sidebar {
            display: none;
            z-index: 2000;
            position: fixed;
            top: 0;
            height: 100%;
            right: 0;
            overflow-y: auto;
            width: 100%;
            max-width: 100%;
            &.shown {
                display: block;
            }
            box-shadow: 20px 0 40px 20px $body-bg-dark;
        }
    }
}

.dynamic-width {
    width: 100%;
}

.btn.menu {
    $icon-size: 1.625rem;
    position: fixed;
    display: block;
    right: $content-padding-x;
    z-index: $zindex-fixed;
    top: calc(0.5 * ($header-height - $icon-size - 0.25rem));
    --bs-btn-bg: rgba(var(--header-bg-rgb), 0.7);
    --bs-btn-hover-bg: var(--header-bg);
    --bs-btn-padding-x: 0px;
    --bs-btn-padding-y: 0px;
    --bs-btn-color: var(--bs-gray-200);
    --bs-btn-border-color: var(--bs-gray-200);
    --bs-btn-border-width: 1px;
    --bs-btn-hover-border-color: var(--bs-white);
    --bs-btn-font-weight: 600;
    --bs-btn-font-size: #{$icon-size};
    --bs-btn-line-height: 1;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-border-color: transparent;
    --bs-btn-box-shadow: 0 0 10px 2px rgba(var(--header-bg-rgb), 0.3);
    --bs-btn-focus-box-shadow: var(--bs-btn-box-shadow);
    box-shadow: var(--bs-btn-box-shadow);
    @media print {
        display: none;
    }
}

.page {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: relative;
    &.noscroll {
        overflow-y: hidden;
        scrollbar-gutter: stable;
    }
    &:has(.search-results) {
        scrollbar-gutter: stable;
        overflow-y: scroll;
    }
    .chaphead .chapauthors:not(.d-block) {
        display: none;
    }
    &.multi {
        > .main {
            opacity: 0;
            transition: opacity 600ms ease-in-out;
        }
        &.loaded {
            > .main {
                opacity: 1;
            }
        }
        .content-container > {
            .flip:not(.d-block) { display: none; }
            .section {
                margin-top: $spacer;
            }
        }
        .fn-wrapper { display: none; }
        &.presentation {
            $presentation-header-height: 32px;
            scrollbar-color: unset;
            &:not(:has(> .main > .content-container > .chaphead.d-block)) {
                .home-sublink {
                    display: inline;
                }
            }
            .header {
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                height: $presentation-header-height;
                font-size: var(--presentation-headfoot-font-size);
                .dynamic-width {
                    height: $presentation-header-height;
                    .home-container {
                        height: $presentation-header-height;
                    }
                }
            }
            .menu {
                position: absolute;
                right: $content-padding-x;
                $presentation-menu-icon-size: 20px;
                border: none;
                --bs-btn-font-size: #{$presentation-menu-icon-size};
                top: 0.5*($presentation-header-height - $presentation-menu-icon-size - 3px);
            }
            .layout-toggle, .footer {
                display: none;
            }
            .main {
                position: fixed;
                top: $presentation-header-height;
                left: 0;
                right: 0;
                padding: 0 4*$content-padding-x;
                bottom: $presentation-header-height;
                overflow-y: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                .content-container {
                    zoom: 1.25;
                    max-height: 100%;
                    max-width: $presentation-content-width;
                    > .section {
                        margin-bottom: 0;
                        &.last-section-multipage::after {
                            content: '';
                            display: block;
                            height: 1px;
                        }
                    }
                    > .preamble:after {
                        content: '';
                        display: block;
                        height: 1px;
                    }
                    > .chaphead, > .preamble {
                        margin-top: $spacer;
                    }
                }
                .paginator-wrapper {
                    position: fixed;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: $presentation-header-height;
                    padding: 0 0.5*$content-padding-x;
                    .paginator {
                        height: $presentation-header-height;
                        a {
                            min-width: 0;
                            height: $presentation-header-height;
                            line-height: $presentation-header-height;
                            div {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
    }
    padding: 0;
    scroll-behavior: smooth;
    scrollbar-color: $gray-600 $gray-800;
    .header {
        height: $header-height;
        padding: 0 $content-padding-x;
        &.with-margin { margin-bottom: 1.5*$spacer; }
        font-size: 1.1rem;
        background-color: var(--header-bg);
        box-sizing: content-box;
        .dynamic-width {
            height: $header-height;
            .home-container {
                height: $header-height;
                display: flex;
                gap: 0.5rem;
                align-items: center;
                a.home {
                    min-width: 0;
                    color: var(--bs-gray-200);
                    text-decoration: none;
                    text-wrap: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    &:hover, &:active {
                        color: var(--bs-white);
                    }
                }
                .home-sublink {
                    display: none;
                    &::before {
                        content: '\203A';
                        padding-right: 0.5rem;
                        color: var(--bs-gray-300);
                    }
                }
            }
        }
        @media print {
            display: none;
        }
    }
    .main {
        .breadcrumb {
          padding-top: .875rem;
          &:not(.d-block) {
            display: none;
          }
          a {
            @extend .link-dark;
          }
        }
        .content-container {
            &:focus, &:focus-visible { outline: 0; }
            .section > h2:has(.notitle) { display: none; }
        }
        .layout-toggle {
            margin-top: .25rem;
            text-align: right;
            @extend .full-width-bg;
            font-size: 90%;
            .btn-link {
                vertical-align: baseline;
                --bs-btn-padding-x: 0;
                --bs-btn-padding-y: 0;
                --bs-btn-font-size: inherit;
                --bs-btn-color: var(--bs-dark);
                --bs-btn-active-color: var(--bs-dark);
                --bs-btn-hover-color: var(--bs-black);
                text-decoration: none;
            }
            .dropdown-item.active {
                display: none;
            }
        }
        padding: 0 $content-padding-x;
    }
    @media print {
        overflow-y: visible;
    }
}


.section {
    margin-bottom: 1.625*$spacer;
    .section {
        margin-bottom: 1.5*$spacer;
    }
}

@media screen {
    @include media-breakpoint-up(sm) {
        html body > .sidebar {
            width: auto;
            min-width: 30%;
            border-left: 1px solid $gray-700;
        }
    }

    @include media-breakpoint-up(md) {
        .page:not(.presentation) {
            .dynamic-width {
                width: $content-width;
                margin: 0 auto;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        html:not(:has(.page.presentation)) {
            .btn.menu {
                display: none;
            }
            .dynamic-width {
                width: 100%;
                max-width: $content-width;
            }
            body > .sidebar {
                display: block;
                box-shadow: none;
                z-index: 1;
                min-width: 0;
                .dismiss {
                    display: none;
                }
                width: calc(100% - $main-width);
                + .page {
                    width: $main-width;
                }
            }
        }
        .page.multi.presentation .main .content-container {
            --fw-margin: 0;
            $colgap: 3*$content-padding-x;
            display: flex;
            justify-content: space-evenly;
            gap: $colgap;
            width: 100%;
            max-width: 100%;
            > .flip {
                flex: 0 1 $presentation-content-width;
            }
            > .section {
                &.fit-content { flex-basis: fit-content; }
                > h2:has(.notitle) { display: block; }
                &:has(+ .section > h2 .notitle) {
                    > h2:first-child {
                        width: calc(200% + $colgap);
                    }
                }
            }
            > .chaphead {
                flex-basis: fit-content;
            }
            > .section, > .chaphead {
                &::after {
                    content: '';
                    display: block;
                    height: 1px;
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        html:not(:has(.page.presentation)) {
            .dynamic-width {
                width: $content-width;
                margin: 0 auto;
            }
            body > .sidebar {
                width: 30%;
                + .page {
                    width: 70%;
                }
            }
        }
    }
}

@include color-mode(dark) {
    body {
        .page {
            &.presentation .paginator-wrapper {
                border-top: 1px solid $gray-800;
            }
            .header {
                border-bottom: 1px solid $gray-800;
            }
            .main {
                .layout-toggle .btn-link {
                    --bs-btn-color: rgb(--light-link-rgb);
                    --bs-btn-active-color: rgb(--light-link-rgb);
                    --bs-btn-hover-color: var(--bs-white);
                }
                .breadcrumb a {
                    --bs-dark-rgb: var(--light-link-rgb);
                    &:hover, &:focus {
                        color: RGBA(var(--light-link-rgb), var(--bs-link-opacity, 1)) !important;
                        text-decoration-color: RGBA(var(--light-link-rgb), var(--bs-link-underline-opacity, 1)) !important;
                    }
                }
            }
        }
    }
}

.footer {
    font-size: 90%;
    padding: $spacer 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;
}

@media print {
    html body > .sidebar {
        display: none;
    }
    .footer, .layout-toggle {
        display: none;
    }
    .page .main {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
