.listing {
    --listing-bg: #{$listing-blue};
    --listing-padding: 0.5rem;
    color: $body-color-dark;
    @extend .full-width-bg;
    background-color: var(--listing-bg);
    .block-title {
        margin-bottom: 0;
        padding-top: var(--listing-padding);
        padding-bottom: var(--listing-padding);
        border-bottom: 1px solid $gray-600;
        font-weight: normal;
    }
    pre {
        padding-top: var(--listing-padding);
        padding-bottom: var(--listing-padding);
        position: relative;
        .copy-button {
            position: absolute;
            top: var(--listing-padding);
            background-color: color-mix(in srgb-linear, var(--listing-bg) 70%, transparent);
            right: 0;
            .btn {
                --bs-btn-color: #{$body-color-dark};
                --bs-btn-padding-x: 0;
                --bs-btn-border-width: 0;
                --bs-btn-padding-y: 0;
            }
        }
        margin-bottom: 0;
        .hljs {
            padding: 0;
            background: none;
        }
    }
    margin-bottom: $spacer;
}
