.page.presentation .live {
    $live-opacities: ("faded": 0.2, "covered": 0);
    $default-opacities: ("normal": 1, "faded": 0.2, "covered": 0);

    @mixin set-opacity($opacity) {
        > *:not(.list):not(.li-mark):not(.li-content),
        > .li-mark,
        > .li-content > *:not(.list),
        > .hljs-ln-n,
        &.hljs-ln-code {
            opacity: $opacity;
            transition: opacity 300ms ease-in-out;
        }
    }

    @each $style, $opacity in $live-opacities {
        &.live-#{$style} {
            [data-line-number] {
                @include set-opacity($opacity);
            }
        }
        @each $defaultStyle, $defaultOpacity in $default-opacities {
            &.live-default-#{$defaultStyle}.live-#{$style} {
                [data-line-number] {
                    @include set-opacity($defaultOpacity);
                }
            }
        }
    }

    .emph[data-line-number] {
        @include set-opacity(1);
    }
}

.live-wrapper {
    position: relative;
    .live-select {
        display: none;
        position: absolute;
        color: var(--bs-secondary);
        width: 2*$content-padding-x;
        left: -2.5*$content-padding-x;
        text-align: right;
    }
}

.page.presentation .live-wrapper .live-select.selected {
    display: block;
}
