.paginator {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: $spacer;
    a {
        @extend .btn;
        @extend .btn-outline-primary;
        @extend .btn-sm;
        --bs-btn-border-radius: 0;
        flex: 1;
        + a {
            border-left: none;
        }
    }
    .blank {
        flex: 1;
    }
}
