.sidebar {
    padding: $content-padding-x 0;
    .search button {
        --bs-btn-padding-x: #{$content-padding-x};
    }
    nav {
        $active-border-width: 4px;
        ul {
            @extend .nav;
            @extend .flex-column;
            li {
                @extend .nav-item;
                a {
                    --bs-nav-link-padding-x: #{$content-padding-x + $active-border-width};
                    --bs-nav-link-padding-y: 0.25rem;
                    --bs-nav-link-color: var(--bs-emphasis-color);
                    --bs-nav-link-hover-color: var(--bs-emphasis-color);
                    @extend .nav-link;
                }
                ul li a {
                    --bs-nav-link-padding-x: 2rem;
                    --bs-nav-link-color: var(--bs-light-text-emphasis);
                    --bs-nav-link-hover-color: var(--bs-light-text-emphasis);
                }
                &.active {
                    > a {
                        --bs-nav-link-padding-x: #{$content-padding-x};
                        --bs-nav-link-font-weight: 600;
                        border-left: $active-border-width solid var(--bs-emphasis-color);
                    }
                }
            }
        }
    }
}