.sidebar {
    $active-nav-emphasis-color: $warning-text-emphasis-dark;
    $active-nav-color: shade-color($warning-text-emphasis-dark, 20%);
    $inactive-nav-color: #cccccc;
    padding: 0.75rem 0;
    background-color: $body-bg-dark;
    border-top: 1px solid var(--bs-gray-600);
    &.sb-visible {
        border-left: 1px solid var(--bs-gray-600);
    }
    @include color-mode(dark) {
        border-left: 1px solid var(--bs-gray-600);
    }
    scrollbar-color: var(--sidebar-thumb-color) transparent;
    .search button {
        --bs-btn-padding-x: #{$content-padding-x};
    }
    nav {
        display: flex;
        ul {
            @extend .nav;
            @extend .flex-column;
            li {
                @extend .nav-item;
                a {
                    --bs-nav-link-padding-x: 1rem;
                    --bs-nav-link-padding-y: 0.375rem;
                    --bs-nav-link-color: #{$inactive-nav-color};
                    --bs-nav-link-hover-color: #{$inactive-nav-color};
                    @extend .nav-link;
                }
                ul {
                    margin-top: -0.125rem;
                    margin-bottom: 0.25rem;
                    li a {
                        --bs-nav-link-padding-x: 1rem;
                        --bs-nav-link-padding-y: 0.25rem;
                        --bs-nav-link-color: #{$active-nav-color};
                        --bs-nav-link-hover-color: #{$active-nav-color};
                        &.active {
                            --bs-nav-link-color: #{$info-text-emphasis-dark};
                            --bs-nav-link-hover-color: #{$info-text-emphasis-dark};
                        }
                        margin-left: 1rem;
                        margin-right: 1rem;
                    }
                }
                &.active {
                    > a {
                        --bs-nav-link-color: #{$active-nav-emphasis-color};
                        --bs-nav-link-hover-color: #{$active-nav-emphasis-color};
                    }
                }
            }
        }
    }
}