.sidebar {
    $active-nav-emphasis-color: $warning-text-emphasis-dark;
    $active-nav-color: $gray-400;
    $inactive-nav-color: #cccccc;
    $nav-item-padding-x: 1rem;
    $nav-item-padding-y: 0.375rem;
    $sidebar-padding-y: 0.75rem;
    $active-line-width: 4px;
    --sidebar-bg: #{$body-bg-dark};
    padding: $sidebar-padding-y 0;
    background-color: var(--sidebar-bg);
    scrollbar-color: $gray-600 var(--sidebar-bg);
    @include color-mode(dark) {
        --sidebar-bg: #2b2b2b;
    }
    .search button {
        --bs-btn-padding-x: #{$content-padding-x};
    }
    .btn.dismiss {
        color: $inactive-nav-color;
        $size: 1.2rem;
        $padding: calc($sidebar-padding-y + $size - 1rem);
        position: absolute;
        right: 0;
        font-size: $size;
        top: 0;
        --bs-btn-box-shadow: none;
        --bs-btn-focus-box-shadow: none;
        --bs-btn-border-width: 0px;
        --bs-btn-bg: $body-bg-dark;
        --bs-btn-padding-x: #{$padding};
        padding-bottom: 0;
        padding-top: calc($padding - 0.125rem);
    }
    nav {
        display: flex;
        > ul > li > a {
            display: flex;
            gap: 1.1ex;
            .nav-mark {
                flex: 0 0 1.1ex;
            }
        }
        ul {
            @extend .nav;
            @extend .flex-column;
            li {
                @extend .nav-item;
                a {
                    --bs-nav-link-padding-x: #{$nav-item-padding-x};
                    --bs-nav-link-padding-y: #{$nav-item-padding-y};
                    --bs-nav-link-color: #{$inactive-nav-color};
                    --bs-nav-link-hover-color: #{$inactive-nav-color};
                    @extend .nav-link;
                }
                ul {
                    margin-bottom: 0.25rem;
                    margin-left: calc(#{$nav-item-padding-x} + 0.5ex - 0.5*#{$active-line-width});
                    border-left: $active-line-width solid shade-color($active-nav-emphasis-color, 25%);
                    li {
                        a {
                            --bs-nav-link-padding-x: 1.5rem;
                            --bs-nav-link-padding-y: 0.25rem;
                            --bs-nav-link-color: #{$active-nav-color};
                            --bs-nav-link-hover-color: #{$active-nav-color};
                            &.active {
                                --bs-nav-link-color: #{$info-text-emphasis-dark};
                                --bs-nav-link-hover-color: #{$info-text-emphasis-dark};
                            }
                        }
                        &:first-child a {
                            padding-top: 0;
                        }
                        &:last-child a {
                            padding-bottom: 0;
                        }
                    }
                }
                &.active {
                    > a {
                        --bs-nav-link-color: #{$active-nav-emphasis-color};
                        --bs-nav-link-hover-color: #{$active-nav-emphasis-color};
                    }
                }
            }
        }
    }
}
