.stem-wrapper {
    .block-title {
        text-align: center;
    }
    .stem {
        margin-bottom: 0;
    }
    margin-bottom: var(--parsep);
}

.stem-equation {
    display: flex;
    flex-flow: row nowrap;
    align-items: last baseline;
    .equation {
        flex: 1;
    }
}

p:has(+ .stem), .stem:has(+ p), p:has(+ .stem-wrapper), .stem-wrapper:has(+ p) {
    margin-bottom: calc(0.5 * var(--parsep));
}

body {
    mjx-container[display] {
        margin: 0;
    }
    p mjx-container[display] {
        margin: calc(0.5 * var(--parsep)) 0;
    }
}
