.stem-wrapper {
    .block-title {
        margin-bottom: 0;
        text-align: center;
    }
}

.stem-equation {
    display: flex;
    flex-flow: row nowrap;
    align-items: last baseline;
    .equation {
        flex: 1;
    }
}

p:has(+ .stem), .stem {
    margin-bottom: calc(0.5 * var(--parsep));
}

body mjx-container[display] {
    margin: 0;
}
