.stem-wrapper {
    .block-title {
        margin-bottom: 0;
        text-align: center;
    }
}

.stem-equation {
    display: flex;
    flex-flow: row nowrap;
    align-items: last baseline;
    .equation {
        flex: 1;
    }
}
