.content-container .subnav {
    @extend .block;
    &.bordered {
        @extend .full-width-bg;
        border-top: 1px solid var(--bs-border-color);
        border-bottom: 1px solid var(--bs-border-color);
        padding-top: var(--parsep);
        padding-bottom: var(--parsep);
    }
    ul {
        @extend .list-unstyled;
        margin-bottom: 0;
    }
    li {
        a {
            display: block;
            padding: 0.125rem 0;
            text-decoration: none;
            @extend .link-secondary;
        }
        .li-mark {
            color: var(--bs-secondary);
        }
    }
    .block-title {
        @extend .h4;
        + nav {
            margin-left: 0.75rem;
        }
    }
}

.presentation .content-container .subnav {
    nav {
        margin-left: 0.75rem;
    }
    ul {
        li {
            list-style-type: '•';
            a {
                padding-left: 0.5rem;
                @extend .link-dark;
            }
            .li-mark {
                color: var(--bs-dark);
            }
        }
    }
}

@include color-mode(dark) {
    .main .content-container .subnav ul li {
        a {
            color: $gray-400 !important;
            &:hover, &:focus {
                color: $gray-300 !important;
            }
        }
        .li-mark {
            color: $gray-400 !important;
        }
    }
}
