.content-container .subnav {
    @extend .full-width-bg;
    @extend .block;
    &.bordered {
        border-top: 1px solid var(--bs-border-color);
        border-bottom: 1px solid var(--bs-border-color);
        padding-top: var(--parsep);
        padding-bottom: var(--parsep);
    }
    ul {
        @extend .list-unstyled;
        margin-bottom: 0;
    }
    li {
        a {
            display: block;
            padding: 0.125rem 0;
            text-decoration: none;
            @extend .link-secondary;
        }
        .li-mark {
            color: var(--bs-secondary);
        }
    }
}

.presentation .content-container .subnav {
    li {
        a {
            @extend .link-dark;
        }
        .li-mark {
            color: var(--bs-dark);
        }
    }
}

@include color-mode(dark) {
    .main .content-container .subnav li {
        a {
            color: $gray-400 !important;
            &:hover, &:focus {
                color: $gray-300 !important;
            }
        }
        .li-mark {
            color: $gray-400 !important;
        }
    }
}
