.table {
    margin: 0;
    @extend .caption-top;
    &.table-fit {
        width: auto;
        margin: 0 auto;
    }
    .table-title {
        padding: 0;
    }
    $halign: left, right, center;
    @each $prop in $halign {
        &.table-h#{$prop} {
            th, td {
                text-align: $prop;
            }
        }
        th, td {
            &.halign-#{$prop} {
                text-align: $prop !important;
            }
        }
    }
    thead + tbody {
        @extend .table-group-divider;
    }
}

.table-responsive {
    margin: 1.5rem 0;
}
