// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$color-mode-type: media-query;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

body {
    background: var(--bs-body-bg);
}
.jp-CodeConsole-promptCell .jp-InputPrompt,
.jp-CodeConsole-content .jp-Collapser,
.jp-CodeConsole-content .jp-OutputArea-prompt,
.jp-CodeConsole-content .jp-OutputArea-promptOverlay {
    display: none !important;
}
.jp-CodeConsole-split {
    --jp-cell-padding: 3px;
    --jp-cell-editor-background: transparent;
    --jp-console-padding: 3px;
}
.jp-Toolbar {
    --jp-toolbar-background: var(--bs-body-bg);
}
.jp-InputArea-editor {
    border: 0 !important;
}
.jp-CodeConsole-promptCell .jp-InputArea-editor.jp-mod-focused {
    border: 0 !important;
    box-shadow: none !important;
}
.cm-editor.cm-focused {
    outline: 0 !important;
}

